@page "/cidaes"
<h4>Lista de Cidades</h4>
<button class="btn btn-outline-dark" onclick="window.location.href = '/cidade/formulario'")Adicionar</button>
<div class="table-responsive" id="table">
    <table class="table table-striped">
        <thead>
             <tr>
                 <th>Cep</th>
                 <th>Cidade</th>
                 <th>UF</th>
                 </tr>
            </thead>
        <tbody>
            </tbody>
        </table>
    </div>

                 
@section Scripts {
<script src="~/js/pages/cidades.js"><</script>
}


