using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;

namespace App.Web.Pages
</div>
</div>

<div class="col-md-6 col-sm-12">
    <div class="form-group mb-12">
        <label>Cidade</label>
    <select class="js-exemple-basic-single" style="width:100%"
            name="cidadeId" id="cidadeId">
        </select>
        </div>
</div>
   
    
    
